/* 1+ css3 background or border property[ies]*/
/* 1+ gradient (linear and/or radial)*/
/* 1+ shadow (box or text)*/
/* 1+ transform (2D or 3D)*/
/*1+ transition*/
/* 1+ animation*/


header {
  padding: 60px;
  text-align: center;
  background-color: blue;
  color: yellow;
  font-size: 30px;
  text-shadow: 0 0 20px red;
  padding: 10px 0px;
  border-style: double;
  border-width: 10px;
  border-color: red;
  background-image: radial-gradient(red, yellow, green);

}

h1:hover {
    animation-name: spin;
    animation-duration: 3s;
}
@keyframes spin {
  100% {transform: rotate(360deg);}
}

.person {
    /*transform: rotateY(180deg);*/
    margin: 70px 0px 0px 100px;
    float: left; /*makes it stay in one place*/
}

.person { /*will make it into hover another time*/
    animation-name: throw;
    animation-duration: 4s;
    transition: transform 3s;
}

@keyframes throw {
  0%   {transform: rotateZ(0deg);}
  25%  {transform: rotateZ(60deg);}
  50%  {transform: rotateZ(60deg);}
  100% {transform: rotateZ(0deg);}
}

.boomerang {
    /*margin: 150px 400px 40px -20px;*/
    position: absolute;
    top: 350px;
    /*height: ;*/
    /*float: left;*/
    /*animation-name: move;*/
    /*animation-duration: 6s;*/
}

.boomerang { /*was goint to be used for hover but ran into issues*/
    animation-name: move;
    animation-duration: 4s;
    transition: transform 4s; /*make boomerang move more smoothly*/
}

@keyframes move {/*how it is thrown*/
  0%   {transform: rotate(1080deg); left:0px; top:350px;}
  25%  {transform: rotate(2160deg); left:80%; top:300px;}
  50%  {transform: rotate(1080deg); left:80%; top:360px;}
  /*75%  {transform: rotate(2160deg); left:100px; top:350px;}*/
  100% {transform: rotate(3240deg); left:0px; top:350px;}
  /*0%   {left:0px; top:0px;}*/
  /*25%  {left:200px; top:-50px;}*/
  /*50%  {left:200px; top:10px;}*/
  /*75%  {left:100px; top:0px;}*/
  /*100% {left:0px; top:0px;}*/
}